<div class="banner img-fluid">
	<div class="text">
		<h1>LA <span class="vengeance">VENGEANCE</span> <br>EST UN PLAT<br> QUI SE MANGE EN MUSIQUE</h1>
		<p>Un voisin qui vous a empêché de dormir ?</p>
		<p>Un goûter d'anniversaire qui a trop duré ?</p>
		<h2 class="stop mt-5">Dites STOP !</h2>
		<p>Et contre-attaquez.</p>
	</div>
</div>
