<div class="banner img-fluid">
	<div class="text">
		<h1 class="d-flex">LE MEILLEUR DU PIRE !</h1>
		<p>Un voisin qui vous a empêché de dormir ?</p>
		<p>Un goûter d'anniversaire trop long ?</p>
		<h2 class="mt-5">Dites STOP !</h2>
		<p>En contre-attaquant...</p>
	</div>
</div>
