
{% block cards %}
<main class="container">
    <div class="row row-cols-1 row-cols-md-4 g-4">
        {% for category in categories %}
        <div class="col">
            <div class="card bg-dark text-white">
                <img src="/uploads/{{ category.image }}" class="card-img" alt="category">
                <div class="card-img-overlay d-flex flex-column p-0 ">
                    <div class="barTitle p-0 mb-0 text-dark d-grid d-md-flex justify-content-md-start mt-auto">
                        <button href="#" class=" btnCards btn btn me-md-2" type="button">Play</button>
                        <h3 class="card-title text-dark mb-0 text-center">{{ category.title }}</h3>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}