<footer>
	<div class="footer d-flex justify-content-center align-self-center align-items-center">
		<a class="mention" href="">Mentions légales</a>
		<div class="team">Team TabarnHack</div>
		</div>
</footer>
