<nav class="navbar navbar-music navbar-expand-lg fixed-top">
	<div class="container-fluid d-flex justify-content-center">
		<a href="/" class=""><img src="assets/images/logo.png" alt="Logo " class="logo-navbar ms-3"></a>
	</div>
</nav>
