.navbar-music {
    background: var(--dark-color);
}

.logo-navbar {
    width: 166px;
    height: 53px;
}

.select-nav {
    display: flex;
    margin-right: 20px;

}

select {

    background: rgba(0, 0, 0, 0.3);
    color: var(--green-color);
    border: 1px solid var(--green-color);
    padding: 7px;
    border-radius: 5px;
}


@media screen and (max-width:470px) {
    .select-nav {
        margin: 60px;
        display: flex;
        justify-content: center;

    }

}