<h1 class="text-center mt-5 text-white fs-2">Montez le son, bouchez-vous les oreilles et appuyez sur play</h1>
<div class="container d-flex justify-content-center mt-5 mb-5">
	<div class"w-50">
		<iframe src="https://widget.deezer.com/widget/dark/playlist/{{ playlist.id }}?app_id=457142&amp;autoplay=false&amp;radius=true&amp;tracklist=true" class="w-100" height="600" allowtransparency="true" allowfullscreen="true" allow="encrypted-media"></iframe>
	</div>
</div>